[2017-07-13 21:04] threebrooks opened #1 "Compilation error in VS2015"
I'm getting a:

`src/include/fst/string-weight.h(176): error C2039: 'const_reverse_iterator': is not a member of 'std::remove_reference<std::list<int,std::allocator<_Ty>>>'`

and I see that this is one of the changes made for the Windows port. When I revert it to the original line

line 176: `typename std::list<Label>::const_iterator iter_;`

it compiles. Have you seen this before?

[2017-07-15 06:44] kkm000 commented on #1
That's nasty. I am using VS2015 for my own main OpenFST project, and not getting the error. What toolset are you using? Have you updated Visual Studio to the latest update version (Help/About)?

The problem is there is a bug in the Microsoft compiler, both in VS 2015 and 2017; look how the same line has changed in the original OpenFST (the orig/1.6 branch here). I added the `std::remove_reference`

[2017-07-15 06:54] kkm000 commented on #1
For comparison: my Help/About box shows "Version 14.0.25431.01 Update 3", the toolset as selected in the project is "Visual Studio 2015 (v140)", and cl version is 19.00.24215.1. I just checked out fresh project and compiled it. Please check what are yours.

[2017-10-05 10:18] bahtity commented on #1
I faced also the same problem.
Although here what I did just to make the compiler happy, although I am not sure if the code will hit at run time or even either it will work as intended.
in the file string-weight.h, you need to modify line 176 from
`typename std::remove_reference<decltype (Weight::rest_)>::const_reverse_iterator iter_;`
to
`typename std::remove_reference<decltype (Weight::rest_)>::

[2017-10-25 06:46] #1 closed, assigned to nobody

[2017-10-25 06:55] kkm000 commented on #1
Fixed, thanks. The issue only occurs when using the template, not when compiling the library itself!

@bahtity, I applied your suggested fix with the missing `::type`, thank you, but the second part escapes me. It does not seem right. Note the left of the comparison if an iterator specialized on an iterator, like it's a reverse_iterator on a container of iterators, not values! I suspect a missing

[2017-10-25 09:59] bahtity commented on #1
@kkm000 , you may be right. actually I tried to find the code call this operator but I could not.
I can see your point by trying simplifying the operator code to be like this :
[code]
if we assumed that the function of the comparison operator is to compares the value the iterator points  to the right implantation would be `return *a == *b ;` instead of `return a.operator*() == b.operator*();`
i tr

[2017-10-27 07:23] kkm000 commented on #1
@bahity: Good, thanks for confirming!

[2017-11-04 14:50] kkm000 opened #3 "Add README.md for the windows branch"
* This is the port, explain where the changes are coming from
 * Note the changes: solutions, CMakefiles.

[2017-11-04 14:52] kkm000 opened #4 "Rename branches"
Names orig/1.6 and win/1.6 make no sense past release 1.6. `original` and `windows` maybe? Tags will still make sense as they are.

[2017-11-06 20:48] jtrmal opened #6 "error C2995: 'void fst::Prune(fst::MutableFst<A> *,const fst::PruneOptions<Arc,ArcFilter> &)': function template has already been defined"
When compiling fstscript I'll get a bunch of errors saying:
[code]
I was playing with that and seems it's because of the enable_if magic.
After changing
[code]

to
[code]
(as http://en.cppreference.com/w/cpp/types/enable_if describes)
I end up with the error
[code]
which I think relates to "Notes" in here:
http://en.cppreference.com/w/cpp/types/enable_if

but from there, I have no idea if there is

[2017-11-06 20:54] kkm000 commented on #6
Let me try to repro. What is the cc file you are compiling? And VS 2015 or 2017?

[2017-11-06 21:05] jtrmal commented on #6
arciterator-class.cc and I'm using MSVC 17 (Community Edition)

I have found discussion here:
https://stackoverflow.com/questions/26753393/what-is-wrong-with-this-use-of-stdenable-if
that seems to make sense
y.

On Mon, Nov 6, 2017 at 3:54 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2017-11-06 21:07] kkm000 commented on #6
Yep, I am reproducing it by simply compiling this file! Let's see if I may have any ideas too.

[2017-11-06 21:12] kkm000 commented on #6
This is the weird part:
[code]
It's like BUT OF COURSE it's not, that's the whole point of this template... Very strange.

[2017-11-06 21:20] jtrmal commented on #6
changing the functions like this:
[code]

worked partially -- while for some function the issue got resolved, I still
have issues with
[code]
which is fairly confusing as it seems there that both the condition and the
negation of the condition are fullfiled
and with WeightCompare which I don't know how to deal with, as it returns
bool
[code]

On Mon, Nov 6, 2017 at 4:12 PM, Kirill Katsnelson <noti

[2017-11-06 21:42] kkm000 commented on #6
It looks like MSVC cannot digest that. Other compilers can.

But the deeper issue is *why* are they using `enable_if`; in this case it has no point.

I believe the best way to handle this is merge the two templates like

[code]
I do not understand why the code with enable_if is trying to help the compiler to compile one of the two code paths, but since the expression in the `if()` is pretty much `

[2017-11-06 21:51] kkm000 commented on #6
As for this error message from your second attempt. this is certainly a bug in the compiler:
[code]
`std::enable_if<,void>` cannot happen after expansion. Especially given the expression is `constexpr bool`.

[2017-11-06 21:51] jtrmal commented on #6
yes, IIRC that was something they had before but for some reason, they
changed to enable_if semantics (perhaps saving a couple of instructions?.

I wonder if that kPath test is really constexpr because it seems that it's
both the condition and it's negation is evaluated as true, for which I
don't see any than some deep compiler reasoning reasons.
And additionally, why GCC doesn't mind? :)

I'll di

[2017-11-06 21:53] kkm000 commented on #6
If you look closer at the error message, they both are evaluated as empty! `enable_if<,void>`. Complete nonsense.

[2017-11-06 21:56] jtrmal commented on #6
oh, I wasn't able to parse that function prototype before (the "emptiness"
of the expression). Now I see.
y.

On Mon, Nov 6, 2017 at 4:53 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2017-11-06 21:58] kkm000 commented on #6
That cannot save any this way, if anything goes as it should. Essentially, a compiler always compiles `if (true) expr1; else expr2` as just `expr1;`. And `enable_if` can be used only with constexpr, as it is evaluated at the template expansion time.

The only reason I could think is they worked around some bug in a certain compiler?

[2017-11-06 22:01] kkm000 commented on #6
I am getting this error in 3 headers from compiling this one file. Should not be a big patch. When you compile full fstscript, are there more than this?

[2017-11-06 22:03] jtrmal commented on #6
I gave up when I had 5k errors, becuase the prune.h is included everywhere
-- will keep working on it.

On Mon, Nov 6, 2017 at 5:01 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2017-11-06 22:04] kkm000 commented on #6
Let me come up with a "minimal" patch, so that it would be easy to maintain.

[2017-11-06 22:05] kkm000 commented on #6
Looks like enable_if is used only in these 3 includes (the 4th use in util.h is rather valid).

[2017-11-06 22:07] jtrmal commented on #6
OK, I'll wait.
y.

On Mon, Nov 6, 2017 at 5:05 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2017-11-06 22:17] kkm000 commented on #6
There. That file compiled. Please give the change a glance over if you have time: https://github.com/kkm000/openfst/commit/7b7db521175b956210a2ed197b408ef2ae224731?diff=unified

I went for half-indent of the if's to keep most code lines intact.

[2017-11-06 23:02] kkm000 commented on #6
This is a new change in 1.6.5; here's a relevant comment from the old version:
[code]
So their idea is to produce a *compile-time* error instead of a runtime call to `FSTERROR()`. Now they are half-way there. Ok, let's see if the MS compiler catches up with this. I am not holding my breath tho. :(

[2017-11-06 23:53] jtrmal commented on #6
I'm not sure if that's related to some of our issues, but apparently, even
MSVC 17 doesn't support SFINAE completely:
https://blogs.msdn.microsoft.com/vcblog/2017/08/11/c17-features-and-stl-fixes-in-vs-2017-15-3/
y.

On Mon, Nov 6, 2017 at 6:02 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2017-11-07 01:21] kkm000 commented on #6
Thanks, quite an interesting post! I need to go through it carefully.

A very interesting note in the SO post that you sent me, exactly [this answer](https://stackoverflow.com/a/26753794/1149924) about templates having to be distinguishable. It never occurred to me that it was a requirement. Now, this code fragment is accepted by icl, gcc and clang, but not MSVC:

[code]
MSVC returns the familiar

[2017-11-07 01:26] kkm000 commented on #6
Oh, and what they *really* want is probably just `static_assert` :)

[2017-11-07 01:30] jtrmal commented on #6
I have experimented with the additional parameter to the template as was
described in the SO post.
It compiled cleanly (there were some other probably unrelated issues), but
what I got worried about is that using that approach we might be hiding the
other template definition completely (as the enable_if always evaluates to
the same, empty, results), so while it compiles, it wouldn't work as
expect

[2017-11-07 01:31] jtrmal commented on #6
yes -- that's what I didn't understand -- if they want compile-time error,
why not just static_assert?
Anyway, I'd deal with that when it comes :)
y.

On Mon, Nov 6, 2017 at 8:26 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2017-11-07 01:32] kkm000 commented on #6
Sure! So be it! :)

[2017-12-06 15:50] yonatankahana opened #8 "MappedFile functionality replaced with NULL"
Hi!
I succedded compile Kaldi with your port of OpenFST and I cant load HCLG model because you changed the method to return always null: https://github.com/kkm000/openfst/blob/win/1.6/src/lib/mapped-file.cc
there is a reason for that change? how can I make my Kaldi code work now?

[2017-12-06 16:16] jtrmal commented on #8
Can you point us to the Kaldi code that is using MappedFile?
y.

On Wed, Dec 6, 2017 at 10:50 AM, yonatankahana <notifications@github.com>
wrote:

[2017-12-06 16:34] yonatankahana commented on #8
[code]

basically the entry for this issue in this stacktrace comes from 'ReadFstKaldiGeneric'.

[2017-12-06 16:39] jtrmal commented on #8
OK, but IIRC we have decided not to use the mem mapping in kaldi so I'm
asking what kaldi binary source code does this or if it's your own code.
y.

On Wed, Dec 6, 2017 at 11:34 AM, yonatankahana <notifications@github.com>
wrote:

[2017-12-06 16:49] jtrmal commented on #8
OK, I'm looking at the OpenFST code of ConstFst and I think I see the issue -- while it does not enforce to use MAP mode, it will always use the MappedFile.
@yonatankahana You can backport the code from older ports of OpenFST -- at this time I don't really have too much time nor easy access to win machine. Or maybe @kkm000 might have time but he's usually very busy as well.

[2017-12-06 16:50] yonatankahana commented on #8
you can see in the file online-nnet2-decoding.h:
there is a class called "SingleUtteranceNnet2Decoder" which its constructor
[code]
this method wants an fst::Fst<fst::StdArc>
which can be only created with ReadFstKaldiGeneric.

[2017-12-06 19:57] kkm000 commented on #8
Yeah, it has been my impression that ConstFst had to use mapped memory. It's a very natural candidate for it.

I'll write a (nonmapping) replacement for it today or tomorrow.

Use the vector fst as the workaround meanwhile.

-kkm

On 6 Dec 2017 8:51 a.m., yonatankahana <notifications@github.com> wrote:

you can see in the file online-nnet2-decoding.h:
there is a class called "SingleUtteranceNnet2D

[2017-12-10 05:55] #8 closed, assigned to nobody

[2017-12-10 06:01] kkm000 commented on #8
Please pull latest code from win/1.6. I have restored the original mapped-file.cc, but disabled code paths actually trying to map the file before allocating memory and reading data into it.

If that does not cover it (and it should, generally), I can implement actual mapping with Win32 functions. But MSVC does not have a compatible mmap(), this is a bit more work than I can dedicte myself to at th

[2018-05-21 07:22] kkm000 commented on #4
Created branches `original` and `winport`. The latter is now the default branch. Removed `orig/1.6`

Removal of `win/1.6` requires a prominent announce in the README file, blocked by #3.

[2018-05-21 07:42] kkm000 commented on #6
@jtrmal, I just committed the new version 1.6.7. I've hit this problem couple times more, as they added more template tests for properties. I think I found a better workaround for this bug, [implemented here](https://github.com/kkm000/openfst/commit/8b6ac5d795f98295c00102635ef7f08c5a83d835#diff-8d401bb18c684591e1a701f706a286cfR121). `IsIdempotent<T>` and `IsPath<T>` are [their new classes](https:/

[2018-05-21 07:49] kkm000 opened #10 "Set SOVERSION property once for all CMakeFile's"
I have to change SOVERSION in 13 separate CMakeFiles with every version bump of the library to match their Makefile.am files. It's probably possible and likely easy to set it once in the root CMakeFile and use everywhere, I just do not know how.

/cc @jtrmal  -- only if you have idle cycles, otherwise leave up for grabs, maybe some good soul would send a PR.

File list:
[code]

[2018-05-28 11:29] Excalib88 commented on #8
I am sorry, but i have problem with openfst. Who can help me please. I cannot load HCLG model on Windows https://pastebin.com/NtaswnAA

[2018-05-28 11:32] Excalib88 opened #11 "Could not load file error"
Hello. I am sorry, but i have problem with openfst and Kaldi. Who can help me please. I cannot load HCLG model on Windows
https://pastebin.com/NtaswnAA
Do you can say about commits 1.6.5 version which will be normal?

Log:
LOG (online2-wav-nnet3-latgen-faster.exe[5.4-win]:kaldi::nnet3::ModelCollapser::Collapse():..\..\..\src\nnet3\nnet-utils.cc:1314) Added 1 components, removed 2
LOG (online2-wav-

[2018-05-29 03:01] kkm000 commented on #11
Thanks for the report! I added some trivial support for memory image FST loading (which ConstFst uses), but it has no specific unit tests for it, so I am worrying. It was done past 1.6.5.1 for sure. Can you tell from what Git SHA1 did you get the OpenFST source? Alternatively, is it much hassle to update to the latest 1.6.7.1 (beware it was tested only with VS 2017 compiler)? I think it should jus

[2018-05-29 04:16] Excalib88 commented on #11
When i read documentation in kaldi i saw that there is line in which wrote this text: "We support only openfst-1.6.5 for now." Do you think that 1.6.7.1 version will build?

[2018-05-29 04:20] kkm000 commented on #11
I believe the message is outdated, and perhaps about the lowest supported version. I think 1.6.7 is ok.

[2018-05-29 04:21] Excalib88 commented on #11
Thanks for your work! I will try!

[2018-05-29 04:56] kkm000 commented on #11
Sure, but let me know please if it worked for you.

[2018-05-29 05:57] Excalib88 commented on #11
I tried to use 1.6.7.1 version, It commit`s header is "Try automatigaly locating Windwos 10 SDK". I have a lot of errors.
![image](https://user-images.githubusercontent.com/24352703/40640295-198761f6-631e-11e8-9fb5-9ecd4c203351.png) But i cannot this errors when i build 1.6.5 version

[2018-05-29 06:14] kkm000 commented on #11
This is not so much helpful. Please post errors from the Output window, at least the few starting lines.

Are you using CMake or the supplied sln and vcxproj files? If CMake, you might need to retarget the generated projects to a version of the Windows SDK that you have (either 8.1 or 10.0.x.x any version will work).

[2018-05-29 06:27] Excalib88 commented on #11
I used sln and renamed libfst.lib to fst.lib and moved into openfst\build_output\src\lib\Release\fst.lib . Now i update Windows SDK on last version ( 10.0.17134.0) when i uploaded, i believe, everything will be fine! Thanks

[2018-05-29 06:36] kkm000 commented on #11
I can see if it compiles with Kaldi for me, but only tomorrow. In your screenshot I see that the compiler is not happy about the NaturalWeight template, and this is one of the areas they certainly touched upstream.

[2018-05-29 06:39] kkm000 commented on #11
I do not believe updating the SDK would help. At the very least, I will be much surprised if it will. :)

[2018-05-29 08:14] Excalib88 commented on #11
I have a list errors(attached)
[kaldi-err.txt](https://github.com/kkm000/openfst/files/2047308/kaldi-err.txt)
or
https://pastebin.com/8YWKZiWM

[2018-05-29 20:23] Excalib88 commented on #11
I am sorry, did you can build kaldi?

[2018-05-30 05:16] kkm000 commented on #11
I just pushed a change to the `winport` branch that should fix the build for you. There is a pending fix in Kaldi to address this API change (kaldi-asr/kaldi#2313), but the upstream change does not make much sense by itself, so I am just reverting to the old code into the Windows port.

I am also looking into a peculiar problem with the binaries, with some weight types not registering correctly fo

[2018-06-01 01:26] kkm000 commented on #11
Any luck with the port? Did it compile for you this time?

BTW, I've seen your other question on the Kaldi PR. As @jtrmal mentioned, online binaries cannot be compiled on Windows, because there are too many system dependencies (real time audio API is entirely different, for one). Just wondering, why do you need them?

[2018-06-05 08:49] kkm000 commented on #11
I'm closing this as fixed due to inactivity. Please LMK if it was not.

[2018-06-05 08:49] #11 closed, assigned to nobody

[2018-06-05 08:56] kkm000 opened #12 "Cmake link with --whole-archive"
It seems to me that Cmake builds will experience the [same static initialization fiasco with the libfst static library as MSBuild builds](https://github.com/kkm000/openfst/commit/a754372f8447db7c9fc56c7ee99671b481041197). Here is a [Cmake-related discussion](http://cmake.3232098.n2.nabble.com/How-to-hundle-gcc-link-options-like-whole-archive-allow-multiple-definition-in-CMake-td7593563.html). IDK

[2018-06-05 10:05] jtrmal commented on #12
I'll have a look.
Y.

On Tue, Jun 5, 2018, 04:56 Kirill Katsnelson <notifications@github.com>
wrote:

[2018-06-18 13:22] #10 closed, assigned to nobody

[2018-07-30 02:16] kkm000 commented on #12
@jtrmal Yenda, I am closing this as fixed.

I just released 1.6.9.1. There is a little change in layout: test include files have been moved to `include/tests`. I do not think it would affect CMakefiles. Also, one trivial file is added to support building fstspecial from the same sources as fstconvert (I remember I once thought about adding same, as I was struggling to build it in my pretty rigid M

[2018-07-30 02:17] #12 closed, assigned to nobody

[2018-07-30 02:23] jtrmal commented on #12
cool! Makes sense. I will check it out.
y.

On Sun, Jul 29, 2018 at 10:17 PM Kirill Katsnelson <notifications@github.com>
wrote:

[2018-08-10 05:48] #3 closed, assigned to nobody

[2018-08-10 05:48] #4 closed, assigned to nobody

[2018-08-15 10:56] cjjjy opened #15 "libfst.lib is not a valid Win32 application"
HI ,I RUN YOUR OPENFSTCODE ON VISUAL STDUDIO 2017 ,there is no error ,but when i want to debug the fstcompose.cc which the code in this program ,it occurs the error that 'libfst.lib is not a valid Win32 application...,"
what should i do?????

[2018-09-20 22:40] mmcauliffe opened #16 "Problem reading FAR file from farcompilestrings"
Hello,

I'm using the latest commit generated from CMake (version 3.12.2) along with OpenGRM-ngram 1.3.4 (https://github.com/MontrealCorpusTools/opengrm-ngram), both compiled using VS 2017.  When I generate a FAR file using `farcompilestrings`, it completes successfully, but using it as input to any of the ngram binaries such as `ngramcount` ( etc gives the following error:

[code]

From the OpenF

[2018-09-21 19:40] kkm000 commented on #16
The FAR extension is not compiled into the current build. Let me see what I can do over the weekend.

[2018-09-23 10:33] kkm000 commented on #16
@mmcauliffe, I am a little bit unclear: are you using CMake to build OpenFST from this repo? Or VS projects/solutions?

[2018-09-23 10:55] kkm000 commented on #16
/cc @jtrmal
Yenda, if you have some spare cycles, could you please chime in? I am not building the far extensions binaries at all (yet? I probably should as it appears there is a demand out there). So I am almost sure this is CMake-related. Do you understand what is going on? I was getting almost exactly the same error before we added the `/WHOLEARCHIVE` trick last time. But that was different: th

[2018-09-23 12:17] jtrmal commented on #16
I'm gonna try to find a windows box and try. Yes, it seems to me as a
registration issue (/wholearchive) as well.
Y.

On Sun, Sep 23, 2018, 12:55 Kirill Katsnelson <notifications@github.com>
wrote:

[2018-09-23 14:53] mmcauliffe commented on #16
@kkm000 Right, so the VS projects/solutions checked into the repo don't include the FAR extensions, so I was following the CMake instructions from the kaldi/windows (https://github.com/kaldi-asr/kaldi/blob/master/windows/INSTALL.md#compiling-openfst) as those do generate the FAR extensions (and they seem to work alright with each other).

[2018-09-24 00:18] kkm000 commented on #16
I'll be working on adding them to the VS build then. No ETA at this moment, I'll try my best to do it this week.

[2018-10-06 09:15] kkm000 commented on #16
I finally got come breathing space to work on this. @mmcauliffe,  I'd really appreciate if you could check if the version I have so far works for you. It builds far extensions with Visual Studio.

Extensions are compiled into the same libfst and libfstscript libraries, and binaries go into the same build_output/ directory as the fst*.exe executables.

The branch name is [`wip-build-optional-featur

[2018-12-08 10:28] SamLam0206 opened #17 "Error reading SymbolTable"
During reading words.txt for decoding on Windows, I met the following error:

ERROR: SymbolTable::ReadText: Bad number of columns (1), file = words.txt, line = 1:<eps 0>

After a quick fix of line 99 of symbol-table.cc from `SplitString(line, separator.c_str(), &col, true);` to
`SplitString(line, " ", &col, true);`,
the symbol table could be read.

I wonder if I've set something wrong during the c

[2018-12-09 05:13] kkm000 commented on #17
[SplitString uses strpbrk](https://github.com/kkm000/openfst/blob/b441d84/src/lib/util.cc#L22-L32), which treats the string as a set of separator characters, such that any of them is treated as a separator. Given it worked with your change (which is to treat spaces only are separators), then `separator` is set to a string not containing the space among accepted separators. Check what you pass in `

[2018-12-09 07:12] SamLam0206 commented on #17
Thanks for the hint. I found that I've committed a careless mistake. Sorry to bother you!

[2018-12-09 07:12] #17 closed, assigned to nobody

[2018-12-10 07:25] kkm000 commented on #17
No biggie, you are welcome!

[2018-12-10 09:46] SamLam0206 opened #18 "ERROR: Unknown file read mode when reading VectorFst"
I tried reading HCLG.fst generated from Linux machine on Windows. I made sure that the same Openfst version (1.6.9) was used. While the header of the fst could be read, I met the "Unknown file read mode" error after the fst was loaded to memory. This is the function I used to read the VectorFst:
`fst::VectorFst<fst::StdArc> * new_decode_fst = fst::VectorFst<fst::StdArc>::Read(ki.Stream(), ropts);`

[2018-12-11 04:22] SamLam0206 commented on #18
I also tried to make the HCLG.fst on Windows. The script ran smooth and HCLGa.fst could be composed by OpenFst until some Kaldi's internal FST utility was run:

'C:\Users\kaldi\kaldiwin_vs2017_OPENBLAS\x64\Debug\add-self-loops.exe' --self-loop-scale=1.0 --reorder=true tdnn_7q_mxr_1/final.mdl tdnn_7q_mxr_1/graph_ctf/HCLGa.fst
ERROR: VectorFst::Read: Read failed: standard input
ERROR: VectorFst::Wri

[2018-12-11 05:37] kkm000 commented on #18
Thanks. This is interesting. Can you please come up with a small piece of code (or a binary command line) that reproduces the problem?

On 10 Dec 2018 20:23, SamLam0206 <notifications@github.com> wrote:

I also tried to make the HCLG.fst on Windows. The script ran smooth and HCLGa.fst could be composed by OpenFst until some Kaldi's internal FST utility was run:

'C:\Users\kaldi\kaldiwin_vs2017_OPE

[2018-12-12 09:49] SamLam0206 commented on #18
Sorry I couldn't find a simple enough way to reproduce the problem and I also suspect that most of the problem lies in Kaldi's window build.

But I've discovered some problem when [reading VectorFst](https://github.com/kkm000/openfst/blob/winport/src/include/fst/vector-fst.h#L384).
When [reading](https://github.com/kkm000/openfst/blob/winport/src/include/fst/vector-fst.h#L388) the header, it crash

[2018-12-12 17:52] kkm000 commented on #18
It really looks like *something, somewhere* (sorry, it's hard to be more specific) is writing binary files in text mode. There is no difference on Linux, but on Windows this may turn the `\n` (a binary byte with the hex value 0A) into the sequence `\r\n`, 0C 0A. Since you are seeing the problem in header, find a port of hexdump (cygwin has one; there is an independent Windows exe) or just open the

[2018-12-14 10:41] SamLam0206 commented on #18
I checked and it seems that the header does not contain 0C 0A. It turns out that the header could be read.

The problem is that when I read the VectorFst using `VectorFst<StdArc> *fst = VectorFst<StdArc>::Read(ki.Stream(), ropts);`, there is some problem with the implementation constructor at
[`std::unique_ptr<VectorFstImpl<S>> impl(new VectorFstImpl());`](https://github.com/kkm000/openfst/blob/wi

[2018-12-17 15:18] SamLam0206 commented on #18
I found that it's my own mistakes again. Thanks for all your previous advice. This windows port of OpenFst is magnificent and crucial for my work. Many thanks again!

[2018-12-17 15:18] #18 closed, assigned to nobody

[2019-01-31 23:29] msvaillant opened #19 "Feature request: Publish package on chocolatey"
That would be nice for package to be distributed by CLI interface.
Nevertheless, thank you for port OpenFST!

[2019-02-13 19:01] kkm000 commented on #19
Honestly, I have no idea what that would involve. I have no experience with chocolatey, except I heard the name... What it this about? Are you thinking about sources, or compiled binaries only?

[2019-02-14 10:14] msvaillant commented on #19
It is just package manager for windows (aka apt on ubuntu) so it takes care of packages being up to day, their installation, uninstallation, etc. You don't need to publish sources, just binaries

[2019-02-15 18:28] kkm000 commented on #19
Given that the binaries are used only in research, and hardly need to be up to date (rather the opposite; you do not want to bring unknowns into your pipeline), I do not really see a point in doing that.

It's possible I'm missing something important. I am wondering, what is your own rationale for this request?

[2019-02-25 08:48] kkm000 commented on #19
I'm going to close this due to inactivity. Feel free to ping me here if I do not understand why this could be important.

[2019-02-25 08:48] #19 closed, assigned to nobody

[2019-06-24 02:07] daanzu opened #20 "stdout newline conversion of binary data"
On Windows, outputting binary FST data to stdout from `fstcompile` (and I assume others) appears to perform newline conversion, inserting 0x0d before every 0x0a and rendering the data invalid. I've yet to look deeply into why. Do you know of a easy solution?

[2019-07-08 07:02] daanzu commented on #20
FYI, I fixed this issue, at least for my use cases. The changes are small, but spread out. @kkm000 Do you want a PR, or is it not important enough?

[2019-07-08 12:22] jtrmal commented on #20
I think Kyril is busy but will definitely want the PR :)
y.

On Mon, Jul 8, 2019 at 3:02 AM David Zurow <notifications@github.com> wrote:

[2019-09-26 03:02] i-lovelife opened #21 "About the license of this repo"
Hi, I notice the copyright is added in this repo but no additional license information is added. Is the license of this repo the same as openfst?

[2019-11-28 06:56] brucelin commented on #20
I may meet the same problem when I use kaldi under the cygwin enviroment, can u show your solution. Thank you very much. Below is my case
[code]
 and the error information
[code]

[2019-11-28 08:03] daanzu commented on #20
Oops, I've been lax in sending this in. I'll try to post it today.

[2019-11-29 11:15] daanzu commented on #20
@brucelin Should be fixed in #23. Also, some binaries with this fix are available if you download and unpack (with zip) the wheels for https://github.com/daanzu/kaldi-active-grammar.

[2019-11-29 13:02] brucelin commented on #20
@daanzu Thank you very much. I will try it.

[2020-02-07 00:31] Bader22 opened #24 "Building openfst and getting 36 errors, Please help me"
I build the project with visual studio 2017, and I build solution the libfst first in both debug 64 and release 64.

Here are the output and the 36 errors.

May you please help me to solve that.

[code]

Thanks alot

[2020-02-07 07:27] kkm000 commented on #24
I cannot reproduce, but I think you want to upgrade your Visual Studio.

Here's what I have (I might have not updated it for a couple weeks):
[code]

Your version may be a couple years too old. The C++ compiler have seen some substantial improvements since then.

Let me know if this fixes your problem.

[2020-02-07 07:32] kkm000 commented on #21
Sure, the original license applies, although I've never thought about this much.  Do you think I should make it more prominent?

[2020-02-07 07:53] kkm000 commented on #20
Thanks for discovering the issue and the patch, and I'm sorry--was really busy last couple months.

I remember there was a way to deal with the text/binary streams using [`std::freopen`](https://en.cppreference.com/w/cpp/io/c/freopen), do you think it would be a better approach if it works?

So it should be like `std::freopen(nullptr, "wb", stdout);`. I recall it did the trick.

[2020-02-07 13:52] Bader22 commented on #24
Yes that did work thanks a lot, I had the version 15, I upgraded to version 15.9 and everything went good.

Thanks alot

[2020-02-07 13:52] #24 closed, assigned to nobody

[2020-02-10 15:23] daanzu commented on #20
Neat, I don't recall knowing about the `std::freopen` approach. It's been awhile since I wrote the patch, so I can't remember exactly why I chose this approach. I can say that it appears to have been working perfectly for me for the past 7 months, however.

[2020-02-11 06:21] kkm000 commented on #20
It's supposed to be more portable, although it's not required by the standard and left to the implementation as to which mode can or cannot be changed. But IIRC, it worked with MSVC. I'll check and let you know.

[2020-02-16 20:06] dtreskunov opened #25 "Build errors on vector-fst.h line 611 when using Visual Studio 14 2015"
I am not able to build OpenFST using the `Visual Studio 14 2015 Win64` CMake generator.

Updating to `Visual Studio 15 2017 Win64` resolved the errors, however, I need the older toolchain because I'm trying to compile a Python module, which according to [this](https://wiki.python.org/moin/WindowsCompilers), requires Visual C++ 14.X.

I'm building OpenFST at tag `win/1.7.2.1` using Microsoft Build

[2020-02-16 20:10] dtreskunov commented on #25
This must be the same issue as #24 however updating to VS 2017 doesn't appear to be an option due to Python requiring VS 2015.

Please pardon my ignorance: I'm just a hobbyist with no C++ experience.

[2020-02-17 23:48] dtreskunov commented on #25
So it turns out that code generated by Visual Studio 2017 does in fact work with Python. I have only tested the official Python release 3.8.1 x86-64 installer, but it works fine.

Please feel free to close and ignore this nonsense!

[2020-02-18 22:56] kkm000 commented on #25
My pleasure. Yes, Python comes with both VS2017 and 2019, it's an option in the VS installer. And it's actually a good IDE for Python. It lets you navigate to definition, has intellisense, code completion--normal things you'd get from an IDE, and comes with anaconda for package management. For VS2015, IIRC, this was an addon that did require a specific version.

[2020-02-18 22:56] #25 closed, assigned to nobody

[2020-03-06 09:30] jurijsk opened #26 "Cannot find source file when building from source with Cmake"
Hi, I'm trying to build OpenFst using cmake:

[code]

and the output is:
[code]
I belive that in previous version of the repo at least some of the *.h missing from `src/test/` were located next to `cc` files in the same directory and now moved to [src/include/fst/test](https://github.com/kkm000/openfst/tree/winport/src/include/fst/test). While other files, the "No SOURCES given to target" I can no

[2020-03-06 10:56] kkm000 commented on #26
If you are talking about these "algo_test_*" messages, it does not look familiar at all. Probably the moved files left targets without any sources at all?

@jtrmal, do you have time to look at this?

[2020-03-06 13:11] jurijsk commented on #26
yes, the `algo_test_*` and `weight_test`; those files are not in the repo but mentioned in couple of MakeList.txt and makefiles.

[2020-03-06 13:24] jtrmal commented on #26
I'll try over the weekend. Is it some new OpenFST or the original version
(whatever it is). Looks like the structure of the archive has either been
changed or the OP might have moved something?
y.

On Fri, Mar 6, 2020 at 8:11 AM Jurijs Kovzels <notifications@github.com>
wrote:

[2020-05-13 23:48] nalbion commented on #26
I'm having the same issue here:
https://github.com/nalbion/vosk-api/runs/672668745?check_suite_focus=true

[2020-05-14 00:00] jtrmal commented on #26
guys, sorry I dropped the ball on this -- what version of the openfst are
you using?
y.

On Wed, May 13, 2020 at 7:48 PM Nicholas Albion <notifications@github.com>
wrote:

[2020-05-14 00:02] nalbion commented on #26
https://github.com/kkm000/openfst/pull/22 fixes this

[2020-05-14 00:43] jtrmal commented on #26
I merged the fix -- please fetch...

[2020-05-14 00:43] jtrmal commented on #26
I will close this, then, I guess....

[2020-05-14 00:43] #26 closed, assigned to nobody

[2020-05-14 01:00] nalbion commented on #26
thanks

[2020-05-20 03:46] SamLam0206 opened #28 "Error reading Kaldi's GrammarFst"
I tried to construct GrammarFst on Windows but caught this exception:

**_Myend** was nullptr. occurred

I used the default GrammarFst constructor:
`GrammarFst *grammar_fst = new GrammarFst(nonterm_phones_offset,
                                             top_fst,
                                             pairs);`

from [https://github.com/kaldi-asr/kaldi/blob/9e0176972ae157a6d2dffe09bcdfe93d

[2020-05-20 09:04] daanzu commented on #28
I haven't tested this, but may be related to #20.

[2020-05-20 13:34] SamLam0206 commented on #28
@daanzu Thanks. I fetched your #23 and tested but got no success. All my Fsts were compiled on Linux server but used on Windows machine locally. For HCLG.fst in ConstFst\<StdArc\> it works perfectly on Windows. But if I wrote the same Fst into GrammarFst object, as in [https://github.com/kaldi-asr/kaldi/blob/797905b0140f7169caf3d97c75a1a56a92f67d38/src/fstbin/make-grammar-fst.cc#L139-L141](url) ,

[2020-05-21 01:49] daanzu commented on #28
FWIW, I don't use `make-grammar-fst`, but I do use a modified version of `GrammarFst` in my own code, loading them with `dynamic_cast<StdConstFst*>(ReadFstKaldiGeneric(filename))`, on Windows.

[2020-06-24 17:17] kkm000 commented on #21
I am closing this ticket for now. If you believe that your issue has not been addressed, please feel free to ping me, and I'll reopen it.

[2020-06-24 17:17] #21 closed, assigned to nobody

[2020-07-07 07:31] SamLam0206 commented on #28
Sorry I found that there's a bug in my code that caused the problem. No issue here.

[2020-07-07 07:31] #28 closed, assigned to nobody

[2020-07-11 05:33] kkm000 commented on #28
Come think of it, I need to port extensions too. A slightly different issue, but makes sense.

[2020-07-18 04:37] kkm000 opened #30 "kkm: Bring the upstream up to date"
This is a blocked for other issues.

[2020-07-18 04:41] kkm000 commented on #20
Blocked-By: #30

[2020-07-18 04:44] kkm000 commented on #15
Set the correct start project in VS. It's name should be highlighted bold.

[2020-07-18 04:44] #15 closed, assigned to nobody

[2020-07-22 04:54] kkm000 commented on #20
Repro:
[code]
Linux output (ok):

00000040: 0000 0000 807F 0100 0000 0000 0000 **0A**00
00000050: 0000 **0A**00 0000 0000 0000 0100 0000 0000
00000060: 0000 0000 0000 0000 0000

Windows output (bug):

00000040: 0000 0000 807F 0100 0000 0000 0000 **0D0A**
00000050: 0000 00**0D 0A**00 0000 0000 0000 0100 0000
00000060: 0000 0000 0000 0000 0000 0000

[2020-07-22 05:05] kkm000 commented on #20
Repro 2. On a Windows machine, save the binary generated by fstcompile:
[code]
Switch to Linux terminal, and do the reverse, unencode, ungzip, fstprint:
[code]
The result is nonsense.

[2020-07-22 07:37] kkm000 commented on #30
All versions up to 1.7.8 r1 imported.

[2020-07-22 07:37] #30 closed, assigned to kkm000

[2020-07-22 07:42] kkm000 opened #31 "Implement memory-mapped files"
Because Kaldi.

[2020-07-22 08:52] kkm000 commented on #20
Fixed in #32

[2020-07-22 08:52] #20 closed, assigned to kkm000

[2020-08-17 19:39] billsheh opened #34 "Build ngram and other extensions"
When I compile some other projects using fst with vs.net 201, got the following errors. Looks like it needs the ngram extension, please advise how to build it in vs.net with extension, very appreciated it!

[code]

[2020-08-21 01:37] kkm000 commented on #34
Sorry, I never heard of "vs.net 201". What are you talking about?

[2020-08-21 01:39] kkm000 commented on #34
But yeah, we're not compiling ngram extensions yet. You can use cmake though, it compiles everything the original Makefiles do.

[2020-11-13 03:21] MantisClone opened #35 "Proposed fixes for building with CMake and Clang-cl on Windows with HAVE_BIN=OFF"
Proposed fixes:

1. Disable intrinsic mapping when compiling with clang-cl.

openfst/src/include/fst/compat.h
[code]

2. Fix fstspecial-bin install logic

openfst/src/extensions/special/CMakeLists.txt
[code]

3. Check for MSVC compiler instead of WIN32 OS

openfst/CMakeLists.txt
[code]

[2020-11-13 16:26] jtrmal commented on #35
lgtm

On Thu, Nov 12, 2020 at 10:21 PM David Hunt-Mateo <notifications@github.com>
wrote:

[2020-11-15 22:27] kkm000 commented on #35
Could you please make a PR? A couple questions.

1. Does clang-cl have `__builtin_popcount`, `__builtin_popcountll` and `__builtin_ctzll` always defined, no header required? Or are they defined just because some other header included them? I'm kinda subscribe to IWYU philosophy.

2. Regarding (3), the dependencies looks a bit entangled. First, the `BUILD_SHARED_LIBS` default is already kinda quirk

[2020-11-16 14:25] jtrmal commented on #35
I might not remember well, but the /bigobj was always linked without any
issues (and without any additional flags).
y.

On Sun, Nov 15, 2020 at 5:28 PM kkm000 <notifications@github.com> wrote:

[2020-11-16 14:43] MantisClone commented on #35
@kkm000 Thanks for the feedback. Yes, I can create a PR, but I'll wait until I've worked through all the questions you've posed.

[2020-11-16 20:20] kkm000 commented on #35
@DMats, thanks a whole lot! Implementing this stuff correctly is hard, and takes some research.

@jtrmal Do you mean adding `/bigobj` as it's currently done (under `if (WIN32)`) works with clang-cl?

[2020-11-16 20:43] jtrmal commented on #35
oh, I don't know anything about clang-cl (except it exists), sorry if I
mislead you.
y.

On Mon, Nov 16, 2020 at 3:20 PM kkm000 <notifications@github.com> wrote:

[2020-11-17 01:17] MantisClone commented on #35
PR #36 created. I chose not to change anything related to `/bigobj` or `BUILD_SHARED_LIBS` because I'm only building static libs.

[2021-01-12 14:05] LuggerMan commented on #34
If i compile extensions with cmake, will binaries be compatible with nmake? Trying to make alphacep/vosk work, gettin` the same error stack

[2021-02-26 04:19] shaonmostafiz opened #37 "Access denied: Unable to start the program .../ALL_BUILD"
While building the openfst.sln using VS15 2017 on windows 10, it is saying access denied: Unable to start the program .../ALL_BUILD. I guess its an configuration error. Can anyone please help me out?

![image](https://user-images.githubusercontent.com/4390553/109254279-ecf71d00-781b-11eb-8750-15b6aa24c47a.png)

[2021-04-15 03:27] jiejiehao opened #38 "Can't run on windows-xp"
hi I have a problem，Compile openfst with the vs toolset v140_xp, but Can't run on windows-xp, when the program starts, it will not report an error, but it will get stuck.

[2021-05-03 03:28] kkm000 commented on #38
Windows XP has been EOL for more than 7 years. We cannot support it, and if we could, we wouldn't for ethical reasons, sorry—it would imply condoning user's self-harm by continuing to run the extremely obsolete and therefore insecure OS.

Also, the toolset 14.0 is too old. Toolsets 14.1 and 14.2 are fine.

For your safety, you should **never run Windows XP**. Since its end of support in April 2014

[2021-05-03 03:28] #38 closed, assigned to nobody

[2021-05-03 03:36] kkm000 commented on #37
This is by design. A single .vcxproj file is invoked multiple times to build each of the binaries. If you want to debug an FST binary, specify its path in the Debug properties. You will need to provide some arguments in the same dialog box anyway (all FST binaries require arguments), so I do not see this as an issue.

[2021-05-03 03:36] #37 closed, assigned to nobody

[2021-05-03 03:50] kkm000 commented on #34
@LuggerMan, depends on the compiler. CMake is only a meta-builder, the choice of the toolchain is yours. `cl` and `clang-cl` in fact use the same Microsoft's own code generation 2nd pass c2.dll. The Intel compiler, `icc`, is also compatible.

Looks like some source file where these symbols are defined is not compiled. It's possible that a file is compiled, but its .o file is discarded by the linke

[2021-05-14 14:58] kabyanil opened #39 "Cannot open include file: 'dlfcn.h': No such file or directory"
Hi. I'm trying to run OpenFst on Windows. Since 1.8.1 is not available yet for Windows, this was the most recent I could find. I downloaded the repo, extracted, opened the folder in Visual Studio 2019 community edition and clicked Build->Build All. It is throwing the following error -

`Cannot open include file: 'dlfcn.h': No such file or directory`

I didn't make any changes to any code or file.

[2021-05-30 16:15] kkm000 commented on #39
Are you sure you are on the `winport` branch?

[2021-05-31 13:08] Forbinn opened #40 "OpenFST 1.8.0 port"
Hello,

I would like to know if the version 1.8.0 of OpenFST will be ported on Windows and when?

Regards,

[2021-06-02 20:16] kkm000 commented on #40
Yes, it sure will. Unfortunately, both maintainers are very busy at the moment. I cannot give you an ETA, unfortunately, but I hope i can get back to this in 4-6 weeks. Other undone work also accumulates because of the current commitment.

[2021-06-03 07:10] Forbinn commented on #40
Ok, I understand and the timing you gave me is more than enough.
Thank you for your work.

[2021-06-03 07:10] #40 closed, assigned to nobody

[2021-09-08 13:24] hwiorn opened #42 "Cross compile error when using mingw."
https://github.com/kkm000/openfst/blob/338225416178ac36b8002d70387f5556e44c8d05/CMakeLists.txt#L19-L28

GNU compiler doesn't process command switch starting with `/`.  So mingw can't process the `/bigobj` option. I think that `WIN32` need to be changed to `MSVC` or wrap that `add_definitions` block with  `if(MINGW) ... endif()`. The condition seems to be only for MSVC compiler.

[code]

When I cha

[2021-09-10 23:11] kkm000 commented on #42
@hwiorn: Thanks for the recommendation. That's probably the correct way to do it. Let me take care of this.

A question, out of pure curiosity: I never tried MinGW. I am wondering what benefits does it provide? Microsoft cl is one of the best, if not _the_ best optimizing compiler out there, and is [available free of charge](https://visualstudio.microsoft.com/downloads/#build-tools-for-visual-stud

[2021-09-13 04:09] hwiorn commented on #42
I'm sure and agree your opinion that VC(IDE, tools) and cl are the best option on Windows system. I've developed some programs on Windows and I know there is a VS community edition(including VC++ express version) already. I used VC express(now community) version on Windows and I saw VC can optimize better than GCC in some area. So I always recommend it on Windows to my colleagues.

On the other ha

[2021-09-13 04:18] hwiorn commented on #42
The patch can be like the below. It needs `-Wa,-mbig-obj` with optimization level like `-O2`.
I tested many times. I don't know why it makes error when no optimization flags.

[code]

[2021-09-13 10:22] kkm000 commented on #42
@hwiorn, thanks for  the patch! The -mbig-obj option is required due to differences in the way compiler generates sections in object files. The historical limit on the number of sections in the PE/COFF format is around 2^16, and heavily templated libraries may exceed that limit. /BIGOBJ (msvc) or -mbig-obj (MinGW) enables up to 2^32 sections. It's just a compatibility setting, only one 16-bit word

[2021-09-13 13:25] hwiorn commented on #42
I couldn't think about template optimizations! Thank you! I forgot that openfst is heavily template library. Other template library like [fmt](https://github.com/fmtlib/fmt) uses `-mbig-obj` option when it uses mingw.

I think cross compiling is used when target system have limited (hardware and software) resource or some reasons which can be philosophy or avoiding license issue.

Even not using d

[2021-12-06 03:58] Gearspre commented on #42
@hwiorn hello, I'am tring to use i686-w64-mingw32 to compile this project.
And use your patch, but still causing error. error message:
`
src/include/fst/float-weight.h:99:2: error: #error "Please compile with -msse -mfpmath=sse, or equivalent."
 #error "Please compile with -msse -mfpmath=sse, or equivalent."
  ^~~~~
src\lib\CMakeFiles\fst.dir\build.make:105: recipe for target 'src/lib/CMakeFiles/f

[2021-12-06 07:11] hwiorn commented on #42
Actually It's not related with the MinGW.
You are using `i686-w64-mingw32 (for 32bit target)`. Did you compile with `-msse2 -mfpmath=sse`?

You can see the conditional-macro inside `float-weight.h` and It checks `__SSE2_MATH__` not `__SSE_MATH__`.

https://github.com/kkm000/openfst/blob/338225416178ac36b8002d70387f5556e44c8d05/src/include/fst/float-weight.h#L94-L100

 You should specify that compi

[2022-09-03 00:24] kkm000 commented on #42
You need much more of a hardware oomph from the build machine than the absolute minimums for either OS. Take that into account, and the difference disappears. And a business that can't afford an extra few hundred bucks is not anywhere close to being viable anyway.

Tangentially,

Yay, I was wrong again!

Srsly, @jtrmal, do you think we want to support cross-compile on Linux for Windows, or not? I

[2022-09-03 11:52] jtrmal commented on #42
I'm more inclined setting up a github actions to make openfst releases
compiled with different compilers
cross-compiling is pain
y.

On Sat, Sep 3, 2022 at 2:24 AM kkm000 ***@***.***> wrote:

[2022-09-05 06:01] hwiorn commented on #42
@kkm000

No, For cross compiling use-case and licenses you asked, It were the small companies's issue I saw. In this case, It's not my money issue. I have already valid Windows 10 licenses. I'm not saying poorman's cross-compiling. For me, Developing on Linux is my preference now and I accustomed Linux tools than MSVC now. You know that, using Linux(Unix) tools on Windows is really slower and somt

[2022-09-05 06:01] #42 closed, assigned to kkm000

[2022-09-05 10:45] kkm000 commented on #42
@hwiorn, this may be a good idea, thanks. We can put the patch into contrib/, refer to this discussion and note it's unmaintained.

I'm gonna rid of the `/wholearchive` thing. Interesting, the upstream does not compile as an archive (.a), only as an SO, for the same reason this had to be added (an archive member is not even linked in a static build b/c nothing refers to its external symbols, but m

[2022-09-05 10:56] jtrmal commented on #42
yeah, pretty much the whole built matrix. should be easy to do using the
github actions. Would probably prune on arch and cpu and compilers probably
only VS 2019 and 2022
y.

On Mon, Sep 5, 2022 at 12:45 PM kkm000 ***@***.***> wrote:

[2022-09-05 11:35] kkm000 commented on #42
@jtrmal, some algos are pretty intensive. Interesting how SSE vs AVX vs AVX2 affects the perf. May be irrelevant, may be not. They aren't too obsessed with perf.

I had to apply a simple patch to shave 30%(!) from the HCLG build time. Since the graph had to be done preferably while the TTS was still flapping its jaw (if the caller spoke, I buffered, but shut-up-on-VAD was off until the recognizer

[2022-09-06 09:44] jtrmal commented on #42
true, but I see the releases mostly to help people get something done. If
they will need super performance, they should compile and optimize
specifically for their setup.
Let me know wdyt
y.

On Mon, Sep 5, 2022 at 1:35 PM kkm000 ***@***.***> wrote:

[2022-09-07 00:13] kkm000 commented on #42
@jtrmal with this idea in mind, certainly.

Wait, I used to release the whole kaboodle, now doing only .exe files. But VC compiler ABI is much more stable now, so we can do the libs too.

[2022-10-31 09:36] Eric-Chen-007 opened #45 "openfst DLL LoadLibrary stuck"
I wrote a programe using openfst as a static library, my programe is a DLL.
I use vs2017(visual studio 2017) IDE, and i need my DLL to be used in XP (an old system).
So i set compile platform "Visual Studio 2017 - Windows XP (v141_xp)".

But when i load the generated DLL, LoadLIbrary fails, then i used "GetLastError", i got  "err=998".
Followed by some suggestions about "/Zc:threadSafeInit-" probl

[2022-11-01 06:12] Eric-Chen-007 commented on #45
I solved this problem.
I found "mutex" not supported in XP system. So the generated DLL, when you use LoadLibrary to load it, it stucked there, there may be some dead lock there, i have no idea what really happens.

Then i chose boost::mutex to replace the C++ lib "mutex", i built a static lib "libboost_thread-vc141-mt-s-x32-1_73.lib", i chose boost version 1.73.0.

Modify "lock.h",
line 21 : incl

[2022-11-01 06:15] #45 closed, assigned to nobody